node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# 忽略编译后的 target文件夹
target/
out/
dist/

# 忽略Eclipse自动生成的 .settings 文件夹
.settings/

# 忽略Eclipse自动生成的 .classpath 文件
.classpath

# 忽略Eclipse自动生成的 .project 文件
.project

# 忽略IDEA自动生成的 .idea 文件夹
.idea/

# 忽略IDEA自动生成的 *.iml 文件
*.iml

# 忽略Mac .DS_Store文件
.DS_Store

# 忽略日志文件
logs/
*.log
