
//头部样式


.pageAll {
	/*font-family: "Avenir", Helvetica, Arial, sans-serif;*/

	font-family: Microsoft YaHei,微软雅黑,Helvetica,黑体,Arial,Tahoma;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	// text-align: center;
	// color: #2c3e50;
	// margin-top: 60px;
	// background: #fafafa;
	background-color: #ffffff;
}
[v-cloak]{
	display: none !important;
}
	// .pulldown-wrapper{
	//   height: 2.5rem !important;
	// }
.mint-indicator-mask{
	top: 50% !important;
	left: 50% !important;
	margin-top: -30px;
	margin-left: -30px;
	position: fixed;
	width: 60px !important;
	height: 60px !important;
	opacity: 1 !important;
	background: #fff !important;
	z-index: 99;
	border-radius: 5px;
	// background: rgba(0, 0, 0, 0.7) !important;

}
.mint-indicator-wrapper{
	background: inherit !important;
	z-index: 100;
}
// 重置loading颜色
.mint-spinner-snake{
	border-top-color: #FEA831 !important;
    border-left-color: #FEA831 !important;
	border-bottom-color: #FEA831 !important;
}

