@import './iconfont/iconfont.css';

body{
    background: $bgcor-f3f5f5;
    color: $cor-333;
    font-family:"Microsoft YaHei",微软雅黑 ;
  }

//弹窗组件
.mint-msgbox-message{
    color: #333;
    font-weight: normal;
    font-size: .7rem;
    min-height: 3rem;
}
.mint-msgbox-content{
    padding: .7rem .5rem 0px;
    min-height: .9rem;
}
.mint-msgbox-confirm{
    color: $cor-ff6b00;
    font-size: .7rem;
}
//搜索组件
.mint-searchbar{
    padding:0;
    background: transparent;
    height: 100%;
    width: 95%;
}
.mint-searchbar-inner{
    width: 93%;
    border:1px solid #e3e1e1;
    border-radius: 1rem;
    height:98%;
}
.mint-searchbar-inner form{
    width: 90%;
}
.mintui-search:before{
    content:'';
}
.mint-searchbar-core{
    padding-left: 1.6rem;
}
input::-ms-clear { display: none; }
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
    }
    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button {
    display: none;
    }
input[type=search]{
    font-size: .7rem;
    line-height: 0.8rem;
}
.mint-search{
    width: 100%;
    margin-left: 0.4rem;
}
 //列表页头
header{
    width: 100%;
    height: 2.25rem;
    background: #fff;
    font-size: .85rem;
    padding: .25rem .5rem;
    line-height: 1.8rem;
    position: relative;
    border-bottom: .025rem solid #e5e5e5;
    &.filterWrapperExp {
        background-color: #fff;
        // margin-bottom: .5rem;
    }
    //返回按钮
    & a.homeLink{
        display: inline-block;
        float: left;
        width: 1.3rem;
        height: 1rem;
        margin-top: -0.05rem;
        height: 100%;
        position: relative;
        z-index: 3;
        & img{
            width:0.55rem;
        }
    }
    & a.cancelLink{
        font-size: .65rem;
        margin-left: 0.2rem;
    }
    // 标题
    & h1 {
        width: 100%;
        position: absolute;
        left: 0;
        margin: 0 auto;
        font-size: .85rem;
        color: $cor-687785;
        font-weight: normal;
        text-align: center;
        z-index: 1;
    }
    // 增加
    & .addLink {
        position: relative;
        float: right;
        font-size: .75rem;
        color: #999;
        z-index: 2;
    }
    //搜索
    & img.search{
        width: .825rem;
        position: absolute;
        left: 1.75rem;
        top: .7rem;
        z-index: 2;
    }
    & .mint-cell-wrapper{
        background-image:none;
    }
    & .mint-cell:last-child{
        background-image:none;
    }
    & .mint-cell{
        min-height:auto;
        height:100%;
    }
    & .mintui{
        font-size: .75rem;
    }
    & .searchField {
        height: 100%;
        input{
            font-size: .7rem;
        }
    }
}
//input输入框
.mint-field-core{
    line-height: normal;
}
//loading
.globalLoading{
    & .mint-spinner-snake{
        margin-top:47%;
        margin-left:47%;
       }
}
.more_loading{
    text-align: center;
    & span{
        & div.mint-spinner-fading-circle{
          margin: 0 auto;
        }
    }
}
//暂无数据
.noDataInfo{
    position: relative;
    & img{
        width: 8.925rem;
        height: 6.25rem;
       }
    & p{
        text-align: center;
        margin-top: 0.5rem;
        font-size: .7rem;
        color: #333;
    }
    & .noDataInner{
       text-align: center;
       position: absolute;
       width: 8.925rem;
       height: 6.25rem;
       top: 10.5rem;
       left: 50%;
       margin-top: -3.125rem;
       margin-left: -4.41rem;
    }
}
//详情页头
.banner{
    height: 5.75rem;
    // line-height: 4.7rem;
    color:#fff;
    text-align: center;
    font-size: .75rem;
    margin-bottom: .5rem;
    background: -webkit-linear-gradient(left top, $bgcor-fda316 , $bgcor-f84f35); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom right, $bgcor-fda316, $bgcor-f84f35); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right,$bgcor-fda316, $bgcor-f84f35); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, $bgcor-fda316 , $bgcor-f84f35); /* 标准的语法（必须放在最后） */
    margin-top: -0.1rem;
    & > div {
        width: 80%;
        position: relative;
        top: 36%;
        margin: 0 auto;
        -ms-transform: translateY(-48%);
        -webkit-transform: translateY(-48%);
        -moz-transform: translateY(-48%);
        transform: translateY(-48%);
        word-wrap: break-word;
    }
}
//提交按钮
.btnDiv {
    width: 100%;
    height: 2.5rem;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px -1px 1px 2px rgba(236,238,238,.8);
    & .submitBnt {
        width: 98%;
        height: 1.975rem;
        line-height: 1.975rem;
        display: inline-block;
        font-size: .75rem;
        color: #fff;
        text-align: center;
        margin-top: .28rem;
        border-radius: 1.25rem;
        background-color: $bgcor-ff6b00;
    }
}
ul.viewDetail {
    margin: 0 4% .5rem 4%;
    & li{
        list-style: none;
        width:92%;
        height: 88px;
        margin: 0;
        background: #fff;
        & .left{
          float:left;
          width:70%;
          height:100%;
          position: relative;
        }
        & .right{
          float:right;
          width:28%;
          height:100%;
          text-align: center;
          line-height: 2.6rem;
         }
    }
}
//详情页内容区
.mainDetail{
    padding-bottom: 3rem;
    overflow: hidden;
    & .tit {
        width: 100%;
        display: inline-block;
        background-color: #fff;
        padding: .8rem .5rem;
        font-size: .75rem;
        color: #3c3c3c;
        word-break: break-all;
        border-bottom: .025rem solid #e9e9e9;
    }
    & .titbott {
        margin-bottom: .5rem;
    }
    & .numInfo {
        width: 100%;
        background-color: #fff;
        margin-bottom: .5rem;
        border-bottom: .025rem solid #ebebeb;
        & .top {
            width: 100%;
            height: 5.5rem;
            text-align: center;
            border-bottom: .025rem solid #ebebeb;
            & p:first-child {
                width: 100%;
                display: block;
                text-align: center;
                padding-top: 1.4rem;
                & label {
                    font-size: 1.45rem;
                    color: #ff6b00;
                }
            }
            & p:last-child {
                font-size: .6rem;
                color: #3c3c3c;
                margin-top: .25rem;
            }
        }
        & .bottom {
            width: 100%;
            & .w_p {
                display: inline-block;
                border-right: .025rem solid #ebebeb;
                padding-left: .5rem;
                margin-top: .525rem;
                margin-bottom: .525rem;
                box-sizing: border-box;
                & p.a {
                    width: 100%;
                    float: left;
                    font-size: .5rem;
                    color: #3c3c3c;
                    margin-bottom: .225rem;
                }
                & p.b {
                    font-size: .75rem;
                    color: #565f6c;
                    font-weight: bold;
                }
            }
            & .w_25 {
                width: 24%;
            }
            & .w_50 {
                width: 49%;
            }
            & .w_p:last-child {
                border: none
            }
        }
    }
}
/*附件文件*/
.accessory_line {
	width: 975px;
	float: left;
	margin-left: 107px;
}
.accessory_common {
	width: 100%;
	float: left;
	position: relative;
}
.accessory_common .icon{
	width: 61px;
	height: 61px;
	float: left;
	display: inline-block;
	background: url(../../img/accessory.png) no-repeat;
}
.accessory_common .icon_pos_doc {
	background-position: 0px -75px;
}
.accessory_common .icon_pos_xls {
	background-position: -154px  -75px;
}
.accessory_common .icon_pos_zip {
	background-position: -154px -227px;
}
.accessory_common .icon_pos_bmp {
	background-position: 1px 0px;
}
.accessory_common .icon_pos_jpg {
	background-position: -77px 0px;
}
.accessory_common .icon_pos_jpeg {
	background-position: -154px 0;
}
.accessory_common .icon_pos_gif {
	background-position: -230px 0;
}
.accessory_common .icon_pos_png {
	background-position: -304px 0;
}
.accessory_common .icon_pos_xlsx {
	background-position: -233px  -75px;
}
.accessory_common .icon_pos_docx {
	background-position: -77px  -75px;
}
.accessory_common .icon_pos_ppt {
	background-position: 1px -151px;
}
.accessory_common .icon_pos_pptx {
	background-position: -77px -151px;
}
.accessory_common .icon_pos_vsd {
	background-position: -154px -151px;
}
.accessory_common .icon_pos_pdf {
	background-position: -233px -151px;
}
.accessory_common .icon_pos_txt {
	background-position: 1px -227px;
}
.accessory_common .icon_pos_mpp {
	background-position: -77px -227px;
}
.accessory_common .icon_pos_rar {
	background-position: -233px -227px;
}
.accessory_common .icon_pos_xml {
	background-position: -304px -227px;
}
.accessory_common .icon_pos_htm {
	background-position: -381px -227px;
}
.accessory_common .icon_pos_html {
	background-position: -458px -227px;
}
.accessory_common .icon_pos_xhtml {
	background-position: -536px -227px;
}
.accessory_common .icon_pos_csv {
	background-position: -304px  -75px;
}

.accessory_common > .a {
	width:70%;
	float: left;
	margin-left: 10px;
    font-size: .7rem;
    max-height: 1.75rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: $cor-999;
    margin-top: 12px;
    word-wrap: break-word;
}
.accessory_common > .a em {
	font-size: 14px;
	color: #306ef7;
	font-style: normal;
}
.accessory_common > .b {
	width: 65%;
	float: left;
	font-size: .7rem;
	color: #c8c8c8;
	margin-left: 10px;
	margin-top: 5px;
}
.accessory_common .accessory_del_color {
	position: absolute;
	right: 25px;
	top: 17px;
    color: #eb6755;
    font-size: .7rem;
}
.accessory_common .accessory_down_color {
	position: absolute;
	right: 60px;
	top: 9px;
	color: #306ef7;
}
.accessory_common_border {
	border-bottom: 1px solid #e6e6e8;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.accessory_common_border:last-child {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}
//上拉加载
.loading-background, .mint-loadmore-top span {
    -webkit-transition: .2s linear;
    transition: .2s linear
}
.mint-loadmore-top span {
    display: inline-block;
    vertical-align: middle
}

.mint-loadmore-top span.is-rotate {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.page-loadmore .mint-spinner {
    display: inline-block;
    vertical-align: middle
}

.page-loadmore-desc {
    text-align: center;
    color: #ff6d04;
    padding-bottom: 5px
}

.page-loadmore-desc:last-of-type,
.page-loadmore-listitem {
    border-bottom: 1px solid #eee
}

.page-loadmore-listitem {
    height: 50px;
    line-height: 50px;
    text-align: center
}

.page-loadmore-listitem:first-child {
    border-top: 1px solid #eee
}

.page-loadmore-wrapper {
    overflow: scroll
}

.mint-loadmore-bottom span {
    display: inline-block;
    -webkit-transition: .2s linear;
    transition: .2s linear;
    vertical-align: middle
}

.mint-loadmore-bottom span.is-rotate {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}
//详情banner波浪动画
@keyframes move_wave
{
	0%   {left:0px; bottom:0px;}
	10%  {left:0; bottom: .05rem;}
	20%  {left:0; bottom:.1rem;}
	30%  {left:0px; bottom:.15rem;}
    40% {left:0px; bottom:0.2rem;}
    50%   {left:0px; bottom:0.25rem;}
	60%  {left:0; bottom: .3rem;}
	70%  {left:0; bottom:.35rem;}
	80%  {left:0px; bottom:.4rem;}
    90% {left:0px; bottom:0.45rem;}
    100% {left:0px; bottom:0.5rem;}
}

@-webkit-keyframes move_wave
{
	0%   {left:0px; bottom:0px;}
	10%  {left:0; bottom: .05rem;}
	20%  {left:0; bottom:.1rem;}
	30%  {left:0px; bottom:.15rem;}
    40% {left:0px; bottom:0.2rem;}
    50%   {left:0px; bottom:0.25rem;}
	60%  {left:0; bottom: .3rem;}
	70%  {left:0; bottom:.35rem;}
	80%  {left:0px; bottom:.4rem;}
    90% {left:0px; bottom:0.45rem;}
    100% {left:0px; bottom:0.5rem;}
}
@keyframes move_wave2
{
    0%   {left:0px; bottom:0px;}
	10%  {left:0; bottom: .02rem;}
	20%  {left:0; bottom:.04rem;}
	30%  {left:0px; bottom:.06rem;}
    40% {left:0px; bottom:0.08rem;}
    50%   {left:0px; bottom:0.1rem;}
	60%  {left:0; bottom: .12rem;}
	70%  {left:0; bottom:.14rem;}
	80%  {left:0px; bottom:.16rem;}
    90% {left:0px; bottom:0.18rem;}
    100% {left:0px; bottom:0.2rem;}
}

@-webkit-keyframes move_wave2
{
    0%   {left:0px; bottom:0px;}
	10%  {left:0; bottom: .02rem;}
	20%  {left:0; bottom:.04rem;}
	30%  {left:0px; bottom:.06rem;}
    40% {left:0px; bottom:0.08rem;}
    50%   {left:0px; bottom:0.1rem;}
	60%  {left:0; bottom: .12rem;}
	70%  {left:0; bottom:.14rem;}
	80%  {left:0px; bottom:.16rem;}
    90% {left:0px; bottom:0.18rem;}
    100% {left:0px; bottom:0.2rem;}
}
.waveBottomWhite{
    width:100%;height:0.8rem;background:#fff;position:absolute;top:5.5rem;
  }
//详情页波浪效果
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    height: 5.75rem;
    color:#fff;
    text-align: center;
    font-size: .75rem;
    margin-bottom: .5rem;
    margin-top: -0.1rem;
	background: -webkit-linear-gradient(left top, #fda316 , #f85134); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom right, #fda316, #f85134); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right, #fda316, #f85134); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, #fda316 , #f85134); /* 标准的语法 */
    & > div.waveTitle {
        width: 100%;
        position: absolute;
        top: 50%;
        padding-left: 3%;
        padding-right: 3%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 11;
    }
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7.5rem;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-image: url(../../img/bolang1.png);
    background-size: 100% 1.125rem;
    bottom: 0rem;
}
.waveAnimation .waveTop {
    animation: move_wave2 1s linear infinite;
   -webkit-animation-delay: 0s;
   animation-delay: 0s;
    animation-direction:alternate;
    animation-fll-mode:none;
}
.waveMiddle {
    background-image: url(../../img/bolang2.png);
    background-size: 100% 1.125rem;
    bottom:0;
}
.waveAnimation .waveMiddle {
    animation: move_wave2 1s linear infinite;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
    animation-direction:alternate;
    animation-fll-mode:none;
}
.waveBottom {
    background-image: url(../../img/bolang3.png);
    background-size: 100% 1.125rem;
}
.pageAll{
    height: 100%;
    overflow: hidden;
}
//弹窗
.mint-msgbox-btns{
    height: 2rem;
    line-height: 2rem;
}
.mint-msgbox-btn{
    line-height: 2rem;
}
.mint-msgbox-message{
    line-height: 1rem;
    min-height: 0;
}
.mint-msgbox-content{
    padding: 1.5rem .5rem 1.5rem;

}
.allLoadHint {
    display: block;
    font-size: .6rem;
    color: #999;
    margin-top: 3%;
}
.htHint {
    width: 100%;
    line-height: 2rem;
    display: block;
    font-size: .5rem;
    color: #d9d9d9;
    text-align: center;
}

//清除浮动
// .clearfix {
//     zoom: 1;
//     &:before,
//     &:after {
//         content: "";
//         display: table;
//     }
//     &:after {
//         clear: both;
//     }

// }


//tab切换组件
.mint-tab-container{
    height: 100%;
}