$cor-ff6b00:#ff6b00;
$cor-999:#999;
$cor-333:#333;
$cor-ccc:#ccc;
$cor-5e5e5e:#5e5e5e;
$cor-d9d9d9:#d9d9d9;/*下划线*/
$cor-ebebeb:#ebebeb;
$cor-e5e5e5:#e5e5e5;
$cor-687785:#687785;
$cor-3994ea:#3994ea;
$cor-a1a1a1:#a1a1a1;
$bgcor-f3f5f5:#f3f5f5;
$bgcor-a8a8a8:#a8a8a8;
$bgcor-fda017:#fda017;
$bgcor-f84f35:#f84f35;
$bgcor-ff6b00:#ff6b00;
$bgcor-fda316:#fda316;
$bgcor-f84f35:#f84f35;

$cor-fff: #fff;
$cor-fd1c08: #fd1c08;
$cor-3c3c3c: #3c3c3c;
$cor-fd5c20: #fd5c20;
$cor-92918e: #92918e;
$cor-fdfcd8: #fdfcd8;
$cor-ec4935: #ec4935;
$cor-FFCD95: #FFCD95;
$cor-fff5ea: #fff5ea;
$cor-ffe6d4: #ffe6d4;
$cor-ff6415: #ff6415;
$cor-ff7502: #ff7502;
$cor-666: #666;
$cor-37B170: #37B170;