//会员活动详情

#activityDetailsBox{
  background-color: #F3F5F7;
  .pageTitle {
    line-height: 3.5rem !important;
    text-align: center;
    line-height: 2rem !important;
  }
    .bgBox{
        height: 4.3rem;
        overflow: hidden;
        position: relative;
        .livePlayback{
            position: absolute;
            right: 0.3rem;
            top: 0.3rem;
            color:#a67848;
            border: 1px solid #cea073;  
            // background: #ffffff;
            padding: .09rem .14rem;
            border-radius: 0.04rem;
        }
    }
    img{
        width: 100%;
        height: 100%;
    }
    .activityDetailsBox{
      position: relative;
        .activityDetailsTopBox{
            border-radius: .62rem .62rem 0px 0px;
            background: url('../../../img/membership/quanyi_card_bg1.png') no-repeat;
            padding:0 .39rem 0 .38rem;
            margin-top: -.62rem;
            margin-left: -0.09rem;
            width: 102%;
            overflow: hidden;
            position: relative;
            left: 0;
            top: 0;
            h3{
                font-family: PingFangSC-Semibold;
                font-size: .44rem;
                color: #272727;
                letter-spacing: 0;
                line-height: .44rem;
                margin: .59rem 0 .09rem 0;
                word-wrap: break-word;
                table-layout: fixed;
                word-break: break-all;
                font-weight: 600;
            }
            .activityDetailsDivBox{
                margin: .43rem 0;
                p{
                    font-family: PingFangSC-Regular;
                    font-size: .28rem;
                    color: #272727;
                    letter-spacing: 0;
                    line-height: .4rem;
                    height: .4rem;
                    position: relative;
                    padding-left: .55rem;
                    margin-top: .1rem;
                    i.locationIcon{
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: .36rem;
                        height: .36rem;
                        background: url('../../../img/Life_icon_address@2x.png') no-repeat;
                        background-size: .36rem .36rem;
                    }
                    i.activityTimeIcon{
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: .32rem;
                        height: .32rem;
                        background: url(../../../img/Life_icon_time@2x.png) no-repeat;
                        background-size: .32rem .32rem;
                        top: .05rem;
                    }
                    span{
                        font-family: PingFangSC-Regular;
                        font-size: .28rem;
                        color: #9B9B9B;
                        letter-spacing: 0;
                    }
                }
            }
        }
        .activityIntroduceBox{
            margin-top: 0.05rem;
            background-color: #fff;
            padding: .11rem .39rem .11rem .38rem;
            img{
                width: auto !important;
                max-width: 100% !important;
            }
            h4{
                font-family: PingFangSC-Semibold;
                font-size: .32rem;
                color: #272727;
                letter-spacing: 0;
                line-height: .4rem;
                margin: .4rem 0;
                font-weight: 600;
            }
            p{
                margin: .46rem 0;
                font-family: PingFangSC-Regular;
                font-size: .28rem;
                color: #272727;
                letter-spacing: 0;
                text-align: justify;
                line-height: .46rem;
            }
            .activityIntroduce{
                width:100%;
                word-wrap:break-word;
                font-size: .28rem;
            }
        }
    }
    
}
.activityBottomBtnBox.disabled{
  background-image: linear-gradient(135deg, #B1BEE3 0%, #7F8CB4 100%);
}
.disabled{
    color: #FFFFFF;
    background-color: #CBCED1;
}
.activityBottomBtnBox{
    position:fixed;
    width:100%;
    height: .94rem;
    background-image: linear-gradient(135deg, #6C83C9 0%, #061D6A 100%);
    bottom: 0;
    left: 0;
    a{
        display: block;
        width: 100%;
        height: .94rem;
        font-family: PingFangSC-Medium;
        font-size: .32rem;
        color: #444;
        letter-spacing: 0;
        line-height: .94rem;
        //text-align: center;
    }
}
.activityBottomBox{
    position:fixed;
    width: 100%;
    height: .94rem;
    background-color: rgb(15, 78, 140);
    bottom: 0;
    left: 0;
    display: block;
    a{
        display: block;
        width: 100%;
        height: rem;
        font-family: PingFangSC-Medium;
        font-size: .32rem;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: .94rem;
        text-align: center;
    }
}
.againEnter .tipWrapper{
    // font-size: .4rem;
    width: 5rem;
    padding: 0.1rem .05rem;
}
.mask{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.6;
    background: #000000;
    display: none;
}
// 淡黄色背景弹框
.tipContainer{
    width: 5.4rem;
    height: auto;
    background-image: linear-gradient(-220deg, #F5ECD5 0%, #F0DFBA 100%);
    border-radius: 0.14rem;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -2.7rem;
    margin-top: -1.9rem;
    display: none;
    // 弹框标题
    .titleText{
        font-size: 0.32rem;
        color: #272727;
        letter-spacing: 0;
        text-align: center;
        line-height: 0.45rem;
        font-weight: bold;
        margin: 0.56rem 0.4rem 0.5rem;
    }
    // 弹框提示内容
    .tipCon{
        font-size: 0.28rem;
        color: #272727;
        text-align: center;
        line-height: 0.45rem;
        margin: 0 0.4rem 0.7rem;
    }
    // 弹框按钮
    .buttonCon{
        height: 1rem;
        background: #FDF3DD;
        border-bottom-left-radius: 0.14rem;
        border-bottom-right-radius: 0.14rem;
        font-size: 0.34rem;
        position: relative;
        a{
            width: 2.7rem;
            float: left;
            text-align: center;
            line-height: 1rem;
        }
        .cancel{
            color: #9B9B9B;
            
        }
        .cancel:after{
            content: '|';
            display: block;
            color: #e2cd98;
            position: absolute;
            left: 2.6rem;
            top:0;
            font-size: 0.4rem;
        }
    }
    //淡黄色背景只有一个按钮
    .buttonOne{
        height: 1rem;
        background: #FDF3DD;
        border-bottom-left-radius: 0.14rem;
        border-bottom-right-radius: 0.14rem;
        font-size: 0.34rem;
        text-align: center;
        line-height: 1rem;
    }
    
}

//成功大型弹框
.successBigCon{
    width: 5.6rem;
    height: 7.6rem;
    background: url('../../../img/popbgbig.png') no-repeat;
    background-size: 100% 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -2.8rem;
    margin-top: -3.8rem;
    display: none;
}
//成功中型弹框
.successMidCon{
    width: 5.6rem;
    height: 6.7rem;
    background: url('../../../img/popbgmiddle.png') no-repeat;
    background-size: 100% 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -2.8rem;
    margin-top: -3.35rem;
    display: none;
}
//成功小型弹框
.successSmallCon{
    width: 5.6rem;
    height: 6.16rem;
    background: url('../../../img/popbgsmall.png') no-repeat;
    background-size: 100% 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -2.8rem;
    margin-top: -3.08rem;
    display: none;
}
.successBigCon,.successMidCon,.successSmallCon{
    .successBox{
        margin-left: 0.35rem;
        text-align: center;
        margin-right: 0.25rem
    }
    .successTit{
        font-size: 0.34rem;
        font-weight: bold;
        display: inline-block;
        margin: 1.5rem auto 0.78rem;
        background-color: #79462F;
        background-image: linear-gradient(to right,#79462F ,#9F794E , #C48C59);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    //奖品名称
    .prizeName{
        font-size: 0.32rem;
        color: #A57C50;
        text-align: center;
        line-height: 0.4rem;
        margin: 0 0.2rem;
        height: 0.8rem;
    }
    //邀请更多好友
    .shareTip{
        margin-top: 0.26rem;
        margin-bottom: 0.32rem;
        p{
            font-size: 0.26rem;
            color: #A57C50;
            letter-spacing: 0.037rem;
            float: left;
            margin-left: 0.1rem;
        }
        span{
            margin-top: 0.17rem;
            width: 0.78rem;
            height: 0.03rem;
        }
        span:first-of-type{
            float: left;
            background-image: linear-gradient(90deg, rgba(247,198,143,0.00) 0%, #C39666 96%);
        }
        span:last-of-type{
            float: right;
            background-image: linear-gradient(-90deg, rgba(247,198,143,0.00) 0%, #C39666 96%);
        }
    }
    //邮寄说明
    .postTip{
        font-size: 0.22rem;
        color: #96867E;
        line-height: 0.37rem;
        width: 4.6rem;
        margin: 0 auto 0.47rem;
    }
    //分享按钮
    .shareBtn{
        width: 2.8rem;
        height: 0.78rem;
        border-radius: 0.03rem;
        font-size: 0.32rem;
        letter-spacing: 0.0145rem;
        line-height: 0.78rem;
        margin: 0 auto 0.32rem;
    }
    //分享按钮 白底灰字
    .toShareStyle{
        background: #fff;
        color: #B57E45;
        border: 1px solid #B57E45;
        width: 1.92rem;
    }
    //查看奖励
    .seePrize{
        display: block;
        font-size: 0.28rem;
        text-align: center;
        color: #A57C50;
        line-height: 0.28rem;
    }
    .closeBtn{
        font-size: 0.52rem;
        color: #fff;
        position: absolute;
        bottom: -0.6rem;
        left: 50%;
        margin-left: -0.26rem;
    }
    .successBoxButton{
        display: flex;
        padding: 0 .3rem;
        .shareBtn{
            width: 1.9rem;
        }
    }
    .mr10{
        margin-right: .1rem;
    }
    .mt1{
        height: 1.8rem;
    }
}
//中型弹框
.successMidCon{
    .successTit{
        margin: 1.5rem auto 0.88rem;
    }
    .shareTip{
        margin-bottom: 0.46rem;
    }
    .postTip{
        margin: 0.35rem auto 0.52rem;
    }
}

//小型弹框
.successSmallCon{
    .successTit{
       margin-bottom: 0.95rem;
    }
    .prizeName{
        font-weight: bold;
        margin-bottom: 0.96rem;
    }
    .shareCon{
        font-size: 0.28rem;
        color: #A57C50;
        letter-spacing: 0;
        text-align: center;
        line-height: 0.4rem;
        margin-bottom: 0.96rem;
    }
    .successContent{
        font-size: 0.28rem;
        color: #A57C50;
        letter-spacing: 0;
        text-align: center;
        line-height: 0.8rem;
        margin: 0.29rem 0.48rem 0.56rem;
    }
}
// 实名认证a标签展示有问题，修改样式
.elasticLayer .elasticWrapper .elasticMid .elasticButtons{
    display: flex;
    overflow: hidden;
}
.elasticLayer .elasticWrapper .elasticMid .elasticButtons .positionLeft{
    flex: 1;
}
.elasticLayer .elasticWrapper .elasticMid .elasticButtons .positionRight{
    display: inline-block;
    line-height: .99rem;
    flex: 1;
}
.blueBgButton{
    position: absolute;
    bottom: 0rem;
    left: 0;
    height: 0.94rem;
    width: 100%;
    background: rgba(30,48,104,1);
    a{
        display: block;
        width: 100%;
        height: .94rem;
        font-family: PingFangSC-Medium;
        font-size: .32rem;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: .94rem;
        text-align: center;
    }
}
.hideBox{
    display: none;
}